<ActionBar title="Departures for Stop #{{stopId$ | async}}" class="action-bar">
</ActionBar>

<DockLayout stretchLastChild="true" class="page">
    <PullToRefresh (refresh)="refreshDepartures($event)">
        <ListView [items]="departures$ | async" class="list-group">
            <ng-template let-departure="item">
                <WrapLayout>
                    <Label [text]="getDepartureRoute(departure)" class="list-group-item departure-route"></Label>
                    <Label [text]="getDepartureTime(departure)" class="list-group-item departure-time"></Label>
                </WrapLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</DockLayout>
